---
id: 206
title: Вкладка - Верификация
displayName: Верификация
order: 3
published: true
historyName: Верификация
historyDescription: Подтверждение владения доменом
category: Начало работы
categoryName: Верификация
categoryDescription: Подтверждение владения доменом
categoryOrder: 3
categoryIcon: https://img.solarspace.pro/docs/anti-ddos.svg
footerName: Верификация
footerOrder: 13
---